body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1em;
  color: white;
}

h1 {
  color: #444f5a;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
}

h4 {
  color: #ff9999;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  padding-bottom: 10px;
  padding-top: 10px;
}

h2,h3 {
  color: #ff9999;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

hr {
  border-top: 5px dotted white;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #ff9999;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ffbdbd
}

/******************************CLASSES STYLE******************************/
.top-container {
  background-color: #ffded4;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #444f5a;
  padding: 100px 0;
}

.bottom-container {
  background-color: #3e4149;
  padding: 50px 0 20px;
}

.mountain {
  width: 100%;
}

.cloud {
  height: 100px;
}

.bottom {
  position: absolute;
  left: 7%;
  bottom: 50%;
}

.top {
  position: absolute;
  right: 10%;
  top: 10%;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-dev-img {
  width: 25%;
  float: left;
  margin: 0 30px;
}

.skill-des-img {
  width: 25%;
  float: right;
  margin: 0 30px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #ffc8c8;
  background-image: -webkit-linear-gradient(top, #ffc8c8, #ff9999);
  background-image: -moz-linear-gradient(top, #ffc8c8, #ff9999);
  background-image: -ms-linear-gradient(top, #ffc8c8, #ff9999);
  background-image: -o-linear-gradient(top, #ffc8c8, #ff9999);
  background-image: linear-gradient(to bottom, #ffc8c8, #ff9999);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fae1e1;
  background-image: -webkit-linear-gradient(top, #fae1e1, #ffbdbd);
  background-image: -moz-linear-gradient(top, #fae1e1, #ffbdbd);
  background-image: -ms-linear-gradient(top, #fae1e1, #ffbdbd);
  background-image: -o-linear-gradient(top, #fae1e1, #ffbdbd);
  background-image: linear-gradient(to bottom, #fae1e1, #ffbdbd);
  color: #444f5a;
  text-decoration: none;
}

.skill-title {
  padding-top: 30px;
}

/******************************IDs STYLE******************************/
.carousel-item {
  padding: 1% 20%;
}

.a-carousel-item {
  color: white;
}

#projects {
  margin-top: 3%;
  margin: 1% 5%;
  text-align: center;
  background-color: #444f5a;
}

.test-img {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
  border: solid white;
}

.test-img:hover {
  border: solid #ff9999;
}

@media (max-width: 850px) {
  .cloud {
    height: 10%;
  }

  .bottom {
    position: absolute;
    left: 7%;
    bottom: 30%;
  }

  .top {
    position: absolute;
    right: 10%;
    top: 10%;
  }
}

@media only screen and (max-device-width: 480px) {
  h2 {
    font-size: 3.5rem;
    margin-bottom: auto;
  }

  h3{
    font-size: 2.5rem;
  }

  h4 {
    font-size: 5rem;
  }

  .carousel-item{
    margin-top: 50px;
  }

  .bottom {
    position: absolute;
    left: 7%;
    bottom: 10%;
  }

  .atext {
    margin: 10px 20px;
    width: 70%;
    font-size: 160%;
  }

  .text {
    width: 80%;
    font-size: 170%;
    margin: auto;
  }

  .skill-text {
    width: 70%;
    font-size: 150%;
    margin: auto;
  }

  .carousel-text{
    font-size: 150%;
  }

  .msg-text {
    width: 70%;
    font-size: 200%;
    margin: 40px auto 60px;
  }

  .skill-row{
    width: 90%;
    margin: 50px auto;
  }

  .skill-title{
    width: 70%;
  }

  .skill-dev-img{
    width: 20%;
    margin-top: 30px;
  }

  .skill-des-img{
    width: 20%;
    margin-top: 30px;
  }
}
