body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1em;
  color: black;
}

h1 {
  color: #b7472a;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
}

h3 {
  color: #b7472a;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bolder;
}

h2{
  color: #85331e;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

  h4 {
  color: #85331e;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: auto;
}

h5{
  color: #85331e;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

hr {
  border-top: 5px dotted #438a5e;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #ffd5ab;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #eb9788
}

/******************************CLASSES STYLE******************************/
.top-container {
  background-color: #ffd5ab;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: white;
  padding: 100px 0;
}

.bottom-container {
  background-color: #b7472a;
  padding: 50px 0 20px;
}

.self-img{
  padding: 20px;
}

.mountain {
  width: 100%;
}

.cloud {
  height: 100px;
}

.bottom {
  position: absolute;
  left: 7%;
  bottom: 50%;
}

.top {
  position: absolute;
  right: 10%;
  top: 10%;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
}

.skill-dev-img {
  width: 15%;
  float: left;
  margin: 15px 30px;
}

.skill-des-img {
  width: 15%;
  float: right;
  margin: 10px 30px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #eb9788;
  background-image: -webkit-linear-gradient(top, #eb9788, #b7472a);
  background-image: -moz-linear-gradient(top, #eb9788, #b7472a);
  background-image: -ms-linear-gradient(top, #eb9788, #b7472a);
  background-image: -o-linear-gradient(top, #eb9788, #b7472a);
  background-image: linear-gradient(to bottom, #eb9788, #b7472a);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fff2e5;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fae1e1;
  background-image: -webkit-linear-gradient(top, #fae1e1, #eb9788);
  background-image: -moz-linear-gradient(top, #fae1e1, #eb9788);
  background-image: -ms-linear-gradient(top, #fae1e1, #eb9788);
  background-image: -o-linear-gradient(top, #fae1e1, #eb9788);
  background-image: linear-gradient(to bottom, #fae1e1, #eb9788);
  color: #b7472a;
  text-decoration: none;
}

.skill-title {
  padding-top: 30px;
}

/******************************IDs STYLE******************************/
.carousel-item {
  padding: 1% 20%;
}

.a-carousel-item {
  color: #b7472a;
}

#projects {
  margin-top: 3%;
  margin: 1% 5%;
  text-align: center;
  background-color: white;

}

.proj-div{
  padding: 20px 0;
  margin: 0 50px;
  border-radius: 2%;
  box-shadow: 2px 2px 6px 2px rgba(0,0,0,.1);
}

.skill-div{
  padding: 20px;
  border-radius: 2%;
  box-shadow: 2px 2px 6px 2px rgba(0,0,0,.1);
}

.test-img {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
  border: solid #0635c9;
}

.test-img:hover {
  border: solid #1ae5be;
}

.icon{
  filter: invert(100%);
}

@media (max-width: 850px) {
  .cloud {
    height: 10%;
  }

  .bottom {
    position: absolute;
    left: 7%;
    bottom: 30%;
  }

  .top {
    position: absolute;
    right: 10%;
    top: 10%;
  }
}

@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: auto;
  }

  h3{
    font-size: 3rem;
  }

  h4{
    font-size: 2.5rem;
  }

  h5{
    font-size: 2rem;
  }

  a{
    font-size: 1.5rem;
  }



  .carousel-item{
    margin-top: 50px;
  }

  .bottom {
    position: absolute;
    left: 7%;
    bottom: 10%;
  }

  .atext {
    margin: 10px 20px;
    width: 70%;
    font-size: 160%;
    color: #0635c9;
  }

.atext:hover{
    color: #1ae5be
  }

  .text {
    width: 80%;
    font-size: 170%;
    margin: auto;
  }

  .skill-text {
    width: 70%;
    font-size: 150%;
    margin: auto;
  }

  .carousel-text{
    font-size: 150%;
  }

  .msg-text {
    width: 70%;
    font-size: 200%;
    margin: 40px auto 60px;
  }

  .skill-row{
    width: 90%;
    margin: 50px auto;
  }

  .skill-title{
    width: 70%;
  }

  .skill-dev-img{
    width: 20%;
    margin-top: 30px;
  }

  .skill-des-img{
    width: 20%;
    margin-top: 30px;
  }
}
